@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Zalando Sans", sans-serif;
}

canvas {
    border: 2px solid black;
}

.prediction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Add this */
    font-size: 20px;
    width: 15%;
    margin-left: 5%;
}

.predictionText {
    margin-bottom: 0%;
}

ul,
.predictionText {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

button {
    background-color: #222;
    border: 2px solid black;
    color: white;
    padding: 16px 32px;
    width: 200px; /* Add this */
    box-sizing: border-box; /* Add this */
    text-align: center;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}
